DATABASE_URL=postgres://postgres:1234@localhost:5432/shopify
SHOPIFY_API_KEY="Get this in your partner portal inside your app settings"
SHOPIFY_API_SECRET_KEY="Get this in your partner portal inside your app settings"
HOSTNAME='Your API hostname'
HOSTSCHEME='http or https'
SCOPES=['read_products']
IS_EMBEDDED_APP=true
